#main{
	padding-top: 30px;
	padding-bottom: 30px;
}
.review-wrapp{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
	.review-list{
		height: calc(100vh - 377px);
		overflow-y: auto;
		margin: 0;
		background-color: #fff;
		padding: 15px;
	}
		.review-list_item_img{
			width: 64px;
		}
		.review-list_item_status{
			line-height: 34px;
		}
	.review-form,
	.login-form{
		padding: 15px;
		background-color: #f1f1f1;
	}
		.review-form_title,
		.login-form_title{
			font-size: 18px;
			margin-bottom: 15px;
			font-weight: bold;
		}
		.review-form_textarea{
			height: 60px !important;
			resize: none;
		}